@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Petemoss&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(250, 250, 250) url(http://lorempixel.com/1920/1080/nature/);
  font-family: "Inria Serif", Helvetica, Arial, sans-serif !important;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

/*======================================================
                            Hero - Start
    ======================================================*/

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70dvh;
  padding: 20px;
  background-image: url(../Images/our-service.png);
  background-size: cover;
  background-position: center;
  color: white;
  background-repeat: no-repeat;
}
.section::before {
  content: "";
  background-color: rgba(29, 60, 104, 0.7);
  width: 100%;
  height: 70dvh;
  position: absolute;
}
.text-content {
  text-align: center;
  margin-bottom: 20px;
  z-index: 3;
}
.title {
  font-size: 36px;
  font-weight: bold;
  z-index: 3;
}
.description {
  font-size: 18px;
  margin: 20px 0;
  z-index: 3;
}
.image-container {
  width: 100%;
  max-width: 800px;
  z-index: 3;
}
.image-container img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .section {
    flex-direction: row;
    text-align: left;
  }
  .text-content {
    max-width: 50%;
    margin-bottom: 0;
    padding-right: 20px;
  }
  .title {
    font-size: 48px;
  }
  .image-container {
    max-width: 50%;
  }
}
/*======================================================
                            Hero - end
    ======================================================*/
    .section2 {
        background-image: url(../Images/bg-3.png); /* Placeholder for background image */
        background-size: cover;
        background-repeat: no-repeat;
        padding: 50px 0;
    }
    .icon {
        font-size: 50px;
        color: #1a2b4c;
        transition: color 0.3s, transform 0.3s;
    }
    .service-box {
        text-align: center;
        margin: 50px 0;
        transition: transform 0.3s;
    }
    .service-box h3 {
        font-size: 24px;
        font-weight: bold;
        margin-top: 20px;
    }
    .service-box p {
        font-size: 14px;
        color: #333;
    }
    .service-box:hover .icon {
        color: #ff6600;
        transform: scale(1.1);
    }
    .service-box:hover {
        transform: translateY(-10px);
    }
/*======================================================
                             - start
    ======================================================*/




